@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@keyframes appear332 {
  from {
    max-height: 0;
  }
  to {
    max-height: 332px;
  }
}
@keyframes disappear332 {
  from {
    max-height: 332px;
  }
  to {
    max-height: 0;
  }
}
@keyframes appear100 {
  from {
    margin-top: -100px;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes disappear100 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -100px;
  }
}
@keyframes bottomappear {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 200px;
  }
}
@keyframes loading {
  from {
    opacity: 1;
    z-index: 2;
  }
  to {
    opacity: 0;
    z-index: -3;
  }
}
#loading {
  animation-name: loading;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  background-color: #ffffff;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 16px;
  user-select: none;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  min-height: 543px;
}
a {
  text-decoration: none;
}
#dropdown {
  font-size: 14px;
  z-index: 1;
  transition: 0.5s;
}
video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}
#body {
  height: 100vh;
}
#content {
  width: 100%;
  height: 94.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}
#content img {
  width: 400px;
  height: 50px;
  margin-top: 320px;
}
#bottomanimation {
  animation-name: bottomappear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  margin-top: 20px;
}
#placeholder {
  height: 110px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 4px;
}
footer img {
  width: 100px;
}
#copyright {
  text-align: center;
  margin-right: 100px;
  flex-grow: 1;
  color: #696969;
  font-family: initial;
  font-size: 14px;
}
@media only screen and (min-width: 1024px) {
  #above1024px {
    display: block;
  }
  #navigationBar #logo {
    padding-left: 22px;
    margin-right: 200px;
  }
  #below1024px,
  #scrollUpBar,
  #dropdownBar {
    display: none;
  }
  #navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  #navigationBar a {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    transition: 0.5s;
  }
  #navigationBar a:hover {
    color: #ff0000;
    transition: 0.5s;
  }
  #dropdown {
    display: block;
    text-align: center;
    position: absolute;
    margin-top: 60px;
    width: 140px;
    opacity: 0;
  }
  #trigger:hover #dropdown {
    color: #ffffff;
    opacity: 1;
    transition: 0.5s;
  }
  #trigger:hover #dropdown:hover {
    color: #ff0000;
  }
  #navigationBar #playnow {
    background-color: #ff5252;
    width: 200px;
  }
  #navigationBar #playnow:hover {
    color: #ffffff;
    text-shadow: 2px 2px 6px #000000;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 1024px) {
  source {
    display: none;
  }
  #above1024px {
    display: none;
  }
  #scrollUpBar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    justify-content: space-around;
    background-color: #ffffff;
    transition: 0.5s;
    z-index: 1;
    position: absolute;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  #below1024px {
    position: sticky;
    top: 0px;
  }
  i {
    left: 80px;
    position: absolute;
    transition: 0.5s;
  }
  i:hover {
    cursor: pointer;
    color: #ff0000;
    transition: 0.5s;
  }
  #container {
    position: sticky;
    top: 0;
    width: 100%;
  }
  #dropdownBar {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    display: none;
    width: 100%;
    position: absolute;
    top: 100px;
    flex-direction: column;
    overflow: hidden;
    background-color: #ffffff;
  }
  #dropdownBar a {
    border-bottom: solid 1px #d3d3d3;
    margin: 6px 80px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-weight: 100;
    font-family: initial;
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
  }
  #dropdownBar span {
    color: #999999;
  }
  #dropdownBar a:hover {
    color: #ff0000;
    transition: 0.5s;
  }
  footer {
    flex-direction: column;
  }
  #copyright {
    margin-right: 0;
  }
}
